.body{
	width: 100%;
	min-height: 100vh;
	background-image: url("../assets/fondo.webp");
	background-repeat: repeat;
	position: relative;
	
	
}
.footer{
	position: absolute;
	bottom: 0;
	
}